{% extends "layouts/layouts.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <h1>{{title}}</h1>
    <hr>
    <p>{{content}}</p>


    {% if messages %}
    {% for message in messages %}
       <div class="alert alert-success">
        {{message}}
       </div>
    {% endfor %}
{% endif %}

{% if user.email %}
    <br><hr><br>
    <h2>Bienvenido {{user.first_name}} {{user.last_name}}</h2>
    <p>Correo electrónico: {{user.email}}</p>
{% else %}
    <h2>Por favor inicia sesión... ok</h2>
{% endif %}

{% endblock content %}