body {
    font-family: Arial, sans-serif;
    background-image: url('img/fondo.png');
    background-color: #f4f4f9;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 21px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, input[type="number"], input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #3e8e41;
}

#resultado {
    margin-top: 20px;
    text-align: center;
}
